.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  font-size: 16px;
  text-decoration: none;
}
.navigation-links-navlink {
  font-size: 16px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1 {
  font-size: 16px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  font-size: 16px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  font-size: 16px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.weather-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.weather-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.weather-text {
  color: var(--dl-color-gray-black);
  font-size: 40px;
}
.weather-nav {
  display: flex;
}
.weather-burger-menu {
  display: none;
}
.weather-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.weather-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.weather-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.weather-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.weather-image {
  height: 2rem;
}
.weather-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.weather-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.weather-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.weather-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.weather-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.weather-container2 {
  width: 835px;
  height: 717px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.weather-text01 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.weather-div {
  width: 516px;
  height: 101px;
  margin-top: var(--dl-space-space-unit);
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.weather-div1 {
  width: 800px;
  height: 122px;
  margin-top: var(--dl-space-space-unit);
  padding-top: 0px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
}
.weather-text05 {
  font-size: 20px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  padding-top: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-threeunits);
}
.weather-text06 {
  font-size: 20px;
}
.weather-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
@media(max-width: 991px) {
  .weather-hero {
    flex-direction: column;
  }
  .weather-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .weather-text01 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .weather-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .weather-nav {
    display: none;
  }
  .weather-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .weather-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .weather-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .weather-text12 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .weather-header {
    padding: var(--dl-space-space-unit);
  }
  .weather-mobile-menu {
    padding: 16px;
  }
  .weather-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .weather-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .weather-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .weather-text12 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
