<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-text"><span>Home</span></a>
    <a href="map.html" class="navigation-links-navlink"><span>Map</span></a>
    <a href="places-reviews.php" class="navigation-links-navlink1">
      <span>Places Reviews</span>
    </a>
    <a href="weather.html" class="navigation-links-navlink2">
      <span>Weather</span>
    </a>
    <a href="about.html" class="navigation-links-navlink3">
      <span>About</span>
    </a>
  </nav>
</div>
